.playerCont {
  padding-bottom: 35.09%;
  position: relative;
}

.player,
.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cover {
  border-radius: 24px;
  background: #000;
}
